// place your custom styles here
.navbar {
    background-color: #d4d4d4;
    .logo {
        border-radius: 50% !important;
    }
    .logo:hover {
        animation: my-scale .5s linear !important;
        transform-origin: center 50% !important;
    }
    @keyframes my-scale {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }
        100%{
            transform: scale(1);
        }
    }
}

.site-name {
    font-style: italic;
}

.page {
    .hero-image {
        opacity: 0.8 !important;
    }
    .hero-image:hover {
        animation: myfirst .7s linear !important;
        transform-origin: center 50% !important;
    }

    @keyframes myfirst {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .blog-page-wrapper {
        padding: 0;
    }
    .mask {
        height: 100vh;
    }
}